.profile-pic{
	border-radius:50%;
	height:125px;
	width:125px;
	position: relative;
}
.btn2{
	
	float: right;
	position: absolute;
	margin-right: 400px;
}
.glyphicon{
	font-size:21px;
}
.c{
	margin-right: 10px;
	color: black;
	width: 20px;
}
.c:hover{
	color: orange;
}
#container{
	height: 100%;
	width: 100%;
	background-color: #c66f28;
	margin: 0;
}
#login-box{
	top: 50%;
	height: 400px;
	margin-top: -200px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 0px 20px -10px #000000;
}

#sidebar{
	background-color: #d3823a;
	
}
.sidebar{
	min-height: 600px;
	height: 100%;
}
#topbar{
	height: 50px;
	width: 100%;
	background-color: #efa660;
}

#main{

	display: flex;
	flex-direction: row;
	margin: 0px;
}

#footer{
	height: 50px;
	background-color: #a96930;
}

#content{
	padding-top: 10px;
}

.panel-default > .panel-heading
{
	background-image: -webkit-linear-gradient(top, #ffecdc 0%, #f5d0b2 100%);
	background-image: linear-gradient(top, #ffecdc 0%, #f5d0b2 100%);
}