
.logo{
	max-height: 50px;
	max-width: 50px;

.label-am {
	float: left;
	position: relative;
}
.f-img{
	height: 52px;
	width: 52px;
	border-radius: 50%;
}
.t-log{
	text-align: center;
}
.form-log{
	margin-left: 33%;	
}
.form-prof{
	margin-left: 0%;	
}
.pic-prof{
	margin-left: 20%;
}
.d-pict{
	max-width:200px;
	max-height: 300px; 
}
.font-log{
	
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.form-log-u{
	
	padding-top: 30px;
	padding-bottom: 30px;
}
.preview-img{
	max-width:200px;
	max-height:200px;
	overflow: hidden;
}
.featured-img{
	height: 400px;
			
}

.par{
	word-wrap: normal;
}
.featured-con{
	overflow: hidden;
	height: 400px;
	width: 780px;
	position:relative;
}
.featured-con img{
	position: absolute;
	top:-30%; left:0; right: 0; bottom:-70%;
}
.f-f-pad{
	padding-top: 30px;
	padding-bottom: 30px; 
}
.f-head h4{
	padding-left: 100px;
}

.f-head-bord{
	border-bottom:solid;
	border-width: 2px;
}
.f-head h5{
	padding-left: 100px;
}
.f-head{
	padding-top: 10px;
	padding-bottom: 20px;
}
#top-bar{
	padding: 5px;
}
.footer-1{
	padding-left: 80px;
}
.footer-1 h3{
	border-bottom: thick;
	border-size:2px;
	text-decoration:underline;
}
.footer-2 h3{
	border-bottom: thick;
	border-size:2px;
	text-decoration:underline;
}
.footer-3 h3{
	border-bottom: thick;
	border-size:2px;
	text-decoration:underline;
}
.footer-4 h3{
	border-bottom: thick;
	border-size:2px;
	text-decoration:underline;
}

.footer-1  ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-weight: bold;	
}
.footer-1 a:hover{
	text-decoration: none;
	cursor: pointer;
}
.footer-2 a:hover{
	text-decoration: none;
	cursor: pointer;
}
.footer-3 a:hover{
	text-decoration: none;
	cursor: pointer;
}
.footer-4 a:hover{
	text-decoration: none;
	cursor: pointer;
}

.footer-2  ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-weight: bold;
}
.footer-3  ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-weight: bold;
}
.footer-4  ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-weight: bold;
}
.footer-2{
	padding-left: 40px;
}
.footer-3{
	padding-left: 40px;
}
.footer-5{
	text-align: center;
	padding-bottom: 15px;
	padding-top: 15px; 
}
.user-post{
	margin-left: 50px;
	margin-right: 50px;
	border-color: red;
}
.mhc{
	text-align: center;
	display: none;
}
.text-page{
	padding-left: 120px;
	padding-right: 120px;
}
.text-page p{
	padding-top:40px;
	padding-bottom:120px; 
}
.text-page h3{
	padding-top: 120px;
}
.pb{
	border-bottom: groove;
	border-bottom-width: 2px;
}
.bord2{
	background-color: #dcdfe5;
}
.ini-tag{
	
	margin-left: 29px;
	margin-bottom: 10px;
	text-align: center;
	display: inline-block;
}
.tag-wid{
	
	margin-left: 24px;
	margin-bottom: 10px;
	text-align: center;
	display: inline-block;
}
.bord{
	border-bottom:solid;
	border-width:2px;
	border-color:black;
}
.ini-tag-judul{
	
	padding-left: 30px;
	padding-right: 30px;
	padding-top:10px;
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: 100;
	color: #ededed;
}
.as{
	
	padding-top: 50px;
}
.h{
	background-color: white;
	
}
.hw{
	background-color: white;
	
}

.post-list-img{
	display:flex;
	align-items:initial;
	float: left;
	margin-left: 29px;
}
.number{
	float: left;
	padding-right: 15px;
}
.top-d{
	margin: 20px;
}

.post-list-title{
	line-height: 120%;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 300px;
}
.post-list-title h6{
	padding-bottom: 100px;
}
.post-list-title2{
	line-height: 120%;
	margin-bottom: 0px;
	margin-top: 0px;
}
.pop-list-title{
	padding-top: 20px;
	padding-bottom: 15px;
	line-height: 20%;
	
}
.post-list-title2 h6{
	padding-bottom: 1px;
}

#top-news{
	
}

.top-news-title{
	padding-left: 5px;
	padding-right: 5px;
	white-space: normal;
}

.top-news-title h5{
	line-height: 120%;
	margin-bottom: 0px;
	margin-top: 0px;
}

.top-news-img{
	display: flex;
	align-items: center;
	justify-content: center;
}

.log-req{
	display: none;
	align-items: center;
}
.log-btn{
	display: flex;
	align-items: center;
	font-size: 30px;
}

.logo-menu{
	display: initial;
	align-items: stretch;
}
#menu ul{
	padding: 0px;
}
.menu{
	height: inherit;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: stretch;
	list-style-type: none;
}
.menu .more{
	width: initial;
	padding-left: 10px;
	padding-right: 10px;
}
.menu > li {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content : center;
	position: relative;
}
.menu > li:hover {
	background-color: #1b1d4c;
	color: white;
}

.menu > li .glyphicon{
	width: initial;
}
.menu > li a{
	width: 100%;
	text-align: center;
	text-decoration: none;

}
.menu > li:hover a{
	color: white;
	

}
.menu > li a:visited{
	
	text-decoration: none;
	
}
.menu > li a:hover{
	color: white;
	text-decoration: none;

}
.menu > li a:active{
	
	text-decoration: none;
	
}

#menu{
	height: 100%;
	width: 100%;
}
#top-expand{
	color: #696969;
	background-color: #1b1d4c;
}
#top-expand a{
	color: white;
	text-decoration: none;
}
#top-expand a:hover{
	color: white;
	text-decoration: none;
}
#body{
	margin: 0;

}

.top-news {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: center;
}


.top-news .top-content{
	margin: 5px;
	padding: 5px;
	
	width: 100%;
	overflow: hidden;
}

.dropdown_list{
	display: none;
	min-width: 100%;
	position: absolute;
	list-style-type: none;
}

.dropdown_list > li{
	text-align: center;
}

.menu_utama{
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
}
@media only screen and (min-width: 10cm) {
	

	.menu > li {

	display: flex;
	align-items: center;
	}
	
}
@media only screen and (min-width: 16cm) {
	.top-news .top-content{
	width: 45%;
	}
	
	.menu > li {
	width: 30%;
	display: flex;
	align-items: center;

	}

	.menu{
	height: inherit;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: stretch;
	list-style-type: none;
	}

	.menu > li:hover .dropdown_list{
	background: #1b1d4c;
	position: absolute;
	top: 100%;
	display: block;
	z-index: 100;
	}	

	.logo-menu{
	
	align-items: stretch;

	}
	
	#top-bar{
		margin-left: 10%;
		width: 90%
	}

	.log-req{
	display: block;
	align-items: center;
	}

	.log-btn{
	display: none;
	align-items: center;

	}
	.med-9 {
		width: 75%;
	}
	.med-3 {
		width: 25%;	
	}
	.med-7 {
		width: 58.333%;	
	}
	.med-5 {
		width: 41.667%;	
	}

}
@media only screen and (max-width:20cm){
	.post-list-img{
		display: none;
		width: auto;
		height: auto;
	}
	.post-list-title{
		padding-left:1%;
	}
	
}

@media only screen and (max-width: 768px){
	.thor{
		float: left;
	}
	.form-log{
		margin-left: 20%;
		margin-right: 20%;	
	}
	.font-log{
		padding-bottom: 33px;
	}
}

@media only screen and (max-width: 420px){
	body{
		margin: 0;
	}

	.font-log{
		padding-bottom: 33px;
	}
	.form-log{
		margin-left: 2%;
		margin-right: 2%;	
	}
	
	.thor{
		float: left;
	}
	.ini-tag{
	margin-left: 0px;
	}
	.text-page{
	padding-left: 20px;
	padding-right: 20px;
	}
	.text-page p{
	padding-top:40px;
	padding-bottom:120px; 
	}
	.text-page h3{
	padding-top: 120px;
	}
	.th{
		text-align: center;
	}

	.post-list-image{
		display: none;
	}
	.h{
		left:0px;
	}
	.user-post{
		margin-top: 0px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.post-list-title h6{
	padding-bottom: 20px;
	}
	.as{
	
	padding-top: 10px;
	}
	
}
@media only screen and (min-width: 20cm) {
	.top-news .top-content{
	width: 30%;
	}
	h4{
		font-size: 16px;
	}
	.menu > li {
	width: 15%;
	display: flex;
	align-items: center;
	}
	.menu{
	height: inherit;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: stretch;
	list-style-type: none;
	}

	.logo-menu{
	display: flex;
	align-items: stretch;
	}

	#top-bar{
		margin-left: 41.667%;
		width: 58.3333%
	}
}